.categoryList {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categoryButton {
  display: block;
  width: 100%;
  text-align: left;
  padding: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f5f5f5;
  }

  &.active {
    background-color: #fff3e0;
    font-weight: bold;
    border-left: 4px solid var(--theme-elevation-1000);
  }
}