@import '../../../_css/common.scss';

/* Mobile Navigation */
.mobileNav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Mobile Menu */
  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .mobileMenu.open {
    transform: translateX(0);
    margin-top: 20px;
  }
  
  /* Close Button */
  .closeButton {
    text-align: right;
   
  }
  
  /* Mobile Navigation Item */
  .mobileNavItem {
    margin-top: 20px;
  }
  
  .mobileNavItemContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  
  /* Dropdown Icon */
  .dropdownIcon {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    font-size: 18px;
  }
  
  .dropdownIcon.rotated {
    transform: rotate(90deg);
  }
  
  /* Mobile Dropdown */
  .mobileDropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-left: 20px;
  }
  
  .mobileDropdown.slideIn {
    max-height: 500px; /* Adjust as needed */
  }
  
  /* Mobile Sub-Categories */
  .mobileSubCategories {
    margin-left: 20px;
  }

  /* index.module.scss */

.mobileDropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .mobileDropdown.slideIn {
    max-height: 1000px; /* Adjust as needed */
  }
  
  .mobileDropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .mobileDropdown li {
    margin-bottom: 10px;
  }
  
  .mobileDropdown li a {
    display: block;
    padding: 5px 10px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .mobileDropdown li a:hover {
    background-color: #e0e0e0;
  }
  
  .mobileSubCategories {
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .mobileSubCategories li a {
    background-color: #fff;
    padding: 3px 8px;
    font-size: 14px;
  }
  .searchIcon{
    display: none;
    font-size: 22px;
    margin: 0 30px;
    @include small-break{
      display: block;
    }
  }