@import '../../_css/common';

.pageRange {
  display: flex;
  align-items: center;
  
  @include small-break {
    font-size: 15px;
    font-weight: 100;
  }
}

.content {
  display: flex;
  align-items: center;
  margin: 0 var(--base(0.5));
}

.divider {
  margin: 0 2px;
}

.hyperlink {
  display: flex;
}
