@import '../../../../_css/common';

.orderContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.orderTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.id {
  font-weight: normal;
  word-break: break-all;
}

.orderDetails {
  background-color: var(--theme-elevation-100);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detailLabel {
  font-weight: bold;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid var(--theme-elevation-300);
}

.totalLabel {
  font-weight: bold;
}

.totalValue {
  font-size: 18px;
  font-weight: bold;
}

.itemsTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.orderItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.itemCard {
  background-color: var(--theme-elevation-100);
  border-radius: 8px;
  overflow: hidden;
}

.mediaWrapper {
  display: block;
  position: relative;
  aspect-ratio: 4 / 3;
}

.placeholder {
  background-color: var(--theme-elevation-200);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

.itemDetails {
  padding: 15px;
}

.itemTitle {
  font-size: 16px;
  margin: 0 0 10px;
}

.itemQuantity {
  margin: 0 0 5px;
}

@media (max-width: 768px) {
  .orderContainer {
    padding: 15px;
  }

  .orderTitle {
    font-size: 20px;
  }

  .detailItem {
    flex-direction: column;
  }

  .detailValue {
    margin-top: 5px;
  }

  .itemsTitle {
    font-size: 18px;
  }

  .orderItems {
    grid-template-columns: 1fr;
  }
}