.favoriteButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 200;
  
    // Hover effects
    &:hover {
      background-color: #f3f4f6; // Slightly darker background on hover
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); // Stronger shadow on hover
    }
  
    // When the button is in its 'favorite' state
    &.favorite {
      background-color: #ef4444; // Red background for the 'favorite' state
      color: white; // White icon for contrast in favorite state
      box-shadow: 0 4px 6px rgba(239, 68, 68, 0.3); // Adjusted shadow for red favorite state
  
      &:hover {
        background-color: #dc2626; // Darker red on hover
        box-shadow: 0 6px 8px rgba(220, 38, 38, 0.3); // Stronger shadow on hover
      }
    }
  
    svg {
      font-size: 24px;
      transition: transform 0.3s ease; // Smooth scaling effect on hover
  
      &:hover {
        transform: scale(1.2); // Enlarges the icon on hover
      }
    }
  }
  