@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);

  @include small-break {
    min-height: 250px;
  }
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
}

.stock {
  color: var(--color-green-500);
  font-size: 20px;
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 30px 0;
}

.colorContainer {
  margin-bottom: 10px;

  label {
    font-weight: bold;
    margin-right: 10px;
  }

  .colorBoxes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
  }

  .colorBox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}

/* index.module.scss */
.sizeSelect {
  margin-bottom: 20px; /* Add spacing below the size select component */
}

.sizeSelect label {
  font-weight: bold; /* Make the label bold */
}

.sizeSelect select {
  width: 30%; /* Make the select component full-width */
  padding: 8px; /* Add padding to the select component */
  font-size: 14px; /* Adjust font size */
  border: 1px solid #ccc; /* Add border */
}

.volumeAndWeightSelect {
  margin-bottom: 20px; /* Add spacing below the volume and weight select component */
}

.volumeAndWeightSelect label {
  font-weight: bold; /* Make the label bold */
}

.volumeAndWeightSelect select {
  width: 30%; /* Make the select component full-width */
  padding: 8px; /* Add padding to the select component */
  font-size: 14px; /* Adjust font size */
  border: 1px solid #ccc; /* Add border */
}
.alternativeImage{
  align-items: center;
  justify-content: center;
  display: flex;
}


.productHero {
  // Define styles for the product hero wrapper

  .mediaWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .image {
    // Define styles for the main product image
    width: 100%;
    max-width: 400px; // Adjust as needed
    height: auto;
    margin-bottom: 20px; // Add spacing between main image and thumbnails
  }

  .thumbnail {
    // Define styles for the thumbnail images
    width: 50px; // Adjust thumbnail size as needed
    height: auto;
    margin: 0 10px; // Add spacing between thumbnails
    cursor: pointer; // Change cursor to indicate clickability
    transition: opacity 0.3s ease; // Add transition for smooth hover effect

    &:hover {
      opacity: 0.7; // Reduce opacity on hover for visual feedback
    }
  }

  .currentImageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; // Ensure the large image is displayed above thumbnails
  }

  .currentImage {
    // Define styles for the large image displayed when a thumbnail is clicked
    max-width: 100%; // Ensure the image fits within the container
    max-height: 100%;
  }
}
.otherImagesWrapper{
  width: 100px;
  border: 1px solid black;
  position: relative;
}
.otherImage{
  width: 100px;
}