.addToCartButton {
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear;
  background-color: var(--theme-elevation-1000);
  color: white;
}

.green {
  color: white;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
.disabledButton {
  opacity: 0.5; /* Adjust the opacity to make the button appear faded */
  cursor: not-allowed; /* Change the cursor to indicate that the button is disabled */
}