@import '../../_css/common';

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2);

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.price {
  font-weight: bold;
  line-height: 1;
  display: flex;
  font-size: 30px; 
  padding: 10px 0 10px 0;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  color: rgb(105, 98, 98);
  

  > * {
    margin: 0;
  }

  @include small-break {
    grid-template-colums: 1fr;
    font-size: 16px;
    padding: 5px 0 5px 0;
  }
}

.priceBreakdown {
  color: var(--theme-elevation-500);
}
