@use '../../../app/_css/queries.scss' as *;

.top-large {
  padding-top: var(--block-padding);
}

.top-medium {
  padding-top: calc(var(--block-padding) / 2);
  @include small-break {
    padding-top: 10px;
  }
}

.bottom-large {
  padding-bottom: var(--block-padding);
}

.bottom-medium {
  padding-bottom: calc(var(--block-padding) / 2);
  @include small-break {
    padding-bottom: 10px;
  }
}