.rowWrapper {
  max-width: 100%;
  margin: 0px auto;
  border-radius: 8px;
  background: wheat;

  @media screen and (max-width: 767px) {
    margin: 10px;
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 0 0 10px 0;
}

.rowHead {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.arrowBtn {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
  }

  &.right::after {
    transform: translate(-75%, -50%) rotate(45deg);
  }

  &.left::after {
    transform: translate(-25%, -50%) rotate(-135deg);
  }

  &:hover::after {
    border-color: #333;
  }
}

// Add more SCSS for other elements like .cardContainer, .img, .title, etc.

.headerContainer{
  // background-color: rgb(90, 17, 124);
  // color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10px;
}
.seeAll{
 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
.arrow{
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
}

// .container {
//   overflow: hidden;
//   position: relative;
// }

// .headerContainer {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 10px;
// }

// .ButtonContainer {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
// }

// .flex {
//   display: flex;
//   transition: transform 0.5s ease-in-out;
// }

// .card {
//   flex: 0 0 25%; // Adjust based on products per page
//   box-sizing: border-box;
//   padding: 10px;
// }

// .button {
//   background: none;
//   border: none;
//   cursor: pointer;
//   padding: 10px;
// }
