.rowWrapper {
  max-width: 100%;
  margin: 0px auto;
  border-radius: 8px;
  background: wheat;

  @media screen and (max-width: 767px) {
    margin: 10px;
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 0 0 10px 0;
}

.rowHead {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: wheat; /* Default background */
  color: black; /* Default text color */
}

.seeAll {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 5px;
}

.row {
  max-width: 100%;
  margin: 0 auto;
}

.arrowBtn {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    transform: translate(-50%, -50%);
  }

  &:hover::after {
    border-color: #333;
  }
}

.right {
  right: -40px;

  &::after {
    transform: translate(-75%, -50%) rotate(45deg);
  }
}

.left {
  left: -40px;

  &::after {
    transform: translate(-25%, -50%) rotate(-135deg);
  }
}

.cardContainer {
  margin: 4px 0;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.25s;
  max-width: 180px;
  min-width: 180px;
  min-height: 250px;
  max-height: 250px;

  @media screen and (max-width: 767px) {
    margin: 10px;
    max-height: 260px;
    min-height: 150px;
    max-width: 160px;
    min-width: 160px;
  }

  &:hover {
    box-shadow: 0 0 2px 0 #00000063;
  }
}

.img {
  height: 160px;
  margin-bottom: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin: 0 5px 5px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.star {
  float: left;
  margin: 10px;
  color: #26bec9;
  font-size: 15px;
}

.price {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  float: right;
  margin: 10px;

  span {
    font-size: 15px;
    color: #26bec9;
  }
}


.headerContainer{
  // background-color: rgb(90, 17, 124);
  // color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 10px;
}
.seeAll{
 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
.arrow{
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
}

