@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: black;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
  align-items: center;
}

.logo {
  width: 150px;
  @include small-break{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100px;

  }
}

