// .headerCategories {
//     .category {
//       margin-bottom: 10px;
//       cursor: pointer;
  
//       .categoryName {
//         font-weight: bold;
//         padding: 10px;
//         background-color: #f0f0f0;
//         border: 1px solid #ddd;
//       }
  
//       .subcategories {
//         padding: 10px;
//         background-color: #fff;
//         border: 1px solid #ddd;
//         border-top: none;
  
//         .subcategory {
//           margin-bottom: 10px;
  
//           .subcategoryName {
//             font-weight: bold;
//             margin-bottom: 5px;
//           }
  
//           .subcategoryImage {
//             max-width: 100%;
//             height: auto;
//             display: block;
//           }
//         }
//       }
//     }
//   }
//   .scallopEdge {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 15px; // Adjust this for scallop size
//     background-image: 
//       radial-gradient(circle at 50% 100%, transparent 15px, white 15px);
//     background-size: 30px 15px; // Adjust for scallop width and height
//     background-repeat: repeat-x;
//   }