.headerContainer {
  position: relative;
}

.headerCategories {
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-elevation-1000); // Adjust this to match your design
  padding: 5px 10px;
  z-index: 1000;
  flex-wrap: wrap;
}

.category {
  color: white;
  padding: 0 2px 0 2px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:hover,
  &.active {
    background-color: #741f75;
    border-radius: 10px;
  }
}

.icon {
  margin-left: 8px;
  font-size: 10px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.dropdown.show {
  display: block;
}

.subcategoriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
}

.subcategory {
  // text-align: center;
  margin: 0 10px;
  flex: 0 1 calc(16.66% - 20px); // 16.66% for 6 items per row, minus margin

  @media (max-width: 768px) {
    flex: 0 1 calc(33.33% - 20px); // Adjust for smaller screens, 3 items per row
  }

  @media (max-width: 480px) {
    flex: 0 1 calc(50% - 20px); // Adjust for very small screens, 2 items per row
  }
}

.subcategoryImage {
  width: 50px; // Adjust size as needed
  height: 50px; // Adjust size as needed
  object-fit: cover;
  margin-bottom: 10px;
}

.subcategoryName {
  font-size: 14px;
  font-weight: bold;
}

.attributesContainer {
  display: flex;
  flex-direction: column;
}

.attributeName {
  font-size: 12px;
  color: #666;
}
