@import '../../../_css/common';

.cart {
  margin: 30px 0;
}

.cartWrapper {
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 60px;

  @include large-break {
    grid-template-columns: 1fr;
  }
}

.header {
  display: grid;
  grid-template-columns: 100px 2fr 1fr;
  gap: 24px;
  margin-bottom: 8px;

  @include small-break {
    display: none;
  }
}

.headerItemDetails {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.headersubtotal {
  text-align: end;
}

.itemsList {
  border-top: 1px solid rgb(157, 157, 158);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 24px;
  border: 1px solid rgb(203, 203, 207);
  margin: 40px 10px;
  border-radius: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom:  1px solid rgb(200, 200, 202);
}
.grandTotal{
  color: black;
  font-weight: 600;
}
.cartTotal{
  font-weight: 600;
  color: var(--theme-elevation-1000);
}