@import '../../_css/common.scss';
.container {
    display: flex;
    position: relative;
    gap: 20px;
    padding: 20px;
    background-color: hsl(171, 100%, 12%);
    @include small-break{
      flex-direction: column;
      gap: 10px;
      padding: 10px;
    }
  }

  
  .imageSlider {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    @include small-break{
      width: 100%;
      overflow: scroll;
    }
  }
  
  .imageContainer {
    flex: 1;
   
  }
  
  .mainImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 420px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    @include small-break{
      max-height: 200px;
    }
  }
  
  .contentContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
  }
  
  .mainTitle {
    font-size: 2rem;
    font-weight: bold;
    flex-wrap: wrap;
    text-align: center;
    @include small-break{
      font-size: 14px;
    }
  }
  
  .subTitle {
    font-size: 1rem;
    margin-top: 10px;
    @include small-break{
      font-size: 10px;
    }
  }
  
  .heroButton button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    @include small-break{
      border-radius: 8px;
      padding: 5px 10px;
    }
  }
  
  .controllers {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    
  }
  
  .iconWrapper {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 10px;
    margin: 0 20px;
  }
  
  .icon {
    color: white;
  }
  
  .portraitImage {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    height: 100%;
    @include small-break{
      width: 100%;
    }
  }
  
  
  .mainPortraitImage {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .centerImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 420px;
    @include small-break{
      max-height: 200px;
      min-height: 200px;
    }
  }
  
  .columnImageFlex {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    @include small-break{
      width: 100%;
      gap: 10px;
      flex-direction: row;
    }
  }
 
  
  .columnImage {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
   

  }
  
  .containerFlex {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .images {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
    @include small-break{
      max-height: 100px;
    }
  
   
  }
  
  .text {
    color: white;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); // Change the opacity value to suit your needs
  }