.ratingSummary {
    margin-top: 20px;
  }
  
  .ratingBar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .starCount {
    width: 20px;
    text-align: right;
    margin-right: 5px;
  }
  
  .barContainer {
    flex-grow: 1;
    background-color: #eee;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .bar {
    height: 100%;
    background-color: var(--theme-elevation-1000);
  }
  
  .count {
    margin-left: 5px;
    font-size: 12px;
    color: #888;
  }