@import '../../_css/common.scss';

.container {
  position: relative;
}
.card{
  position: relative;
  overflow: hidden;
}
.wrap {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  @include small-break{
    display: none;
  }
}
.search input{
  border: 1px solid var(--theme-elevation-1000);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  

}
.search input:focus{
  border: 1px solid rgb(106, 3, 116);
}
.searchTerm {
  padding: 10px;
  min-width: 30vw;
  
}

.searchButton {
  background-color: var(--theme-elevation-1000);
  border: 1px solid var(--theme-elevation-1000);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  padding: 11px;
  border: none;
  cursor: pointer;
}
.searchButton:hover{
  background-color: rgb(91, 2, 126);
  transition: .3s ease;
}

.resultsContainer {
  position: absolute;
  top: 60px;
  min-width: 50vw;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  max-height: 800px;
  overflow-y: scroll;
  border-radius: 20px;
}
.resultsContainer::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.resultsContainer {
  scrollbar-width: none; /* Hide the scrollbar */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.suggestionsContainer {
  position: absolute;
  top: 60px;
  min-width: 50vw;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  max-height: 800px;
  overflow-y: scroll;
  border-radius: 20px;
}
.suggestionsContainer::-webkit-scrollbar {
  display: none;
}
.suggestionsContainer{
  scrollbar-width: none; /* Hide the scrollbar */
  -ms-overflow-style: none; 
}
.trending,
.popularProducts {
  margin-bottom: 20px;
}

.trending ul {
  list-style: none;
  padding: 0;
}

.trending li {
  margin-bottom: 10px;
}

.popularProductsList {
  display: flex;
  flex-wrap: wrap;
}

.searchResult {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.error, .loading {
  margin-bottom: 10px;
}
.title{
  font-size: 14px;
  text-overflow: ellipsis;

}
.error{
  color: red;
  font-size: 12px;
}