@import '../../_css/common';


.card {
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: .5px solid rgb(230, 223, 223);
  cursor: pointer;
  margin: 5px 5px;
  padding: 5px;
  max-width: 210px;
  min-width: 160px;
  min-height: 100px;

}

.content {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: white;
  width: 100%;

  @include small-break {
    padding: calc(var(--base) / 2);
    gap: calc(var(--base) / 4);
  }
}

.title {
  margin: 0;
  font-size: 12px;
  font-weight: 700;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include small-break {
    font-size: 10px;

  }
}

.content button {
  padding: 10px 5px;
  background-color: #952a96;
  color: white;
  border: none;
  outline: none;

  border-radius: 5px;
  cursor: pointer;
}

.centerAlign {
  align-items: center;
}

.body {
  flex-grow: 1;
}

.price {
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  display: flex;
  
  // flex-direction: column;
  justify-content: center;

  @include small-break {
    font-size: 12px;
  }
}
.discountedPrize{
  text-decoration: line-through;
  font-size: 10px;
  margin: 0 9px;
  color: rgb(172, 164, 164);
}

.leader {
  @extend %label;
  display: flex;
  gap: var(--base);

}

.description {
  margin: 0;


  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hideImageOnMobile {
  @include mid-break {
    display: none;
  }
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  min-height: 150px;
  background-color: var(--color-dark-50);

  @include small-break {
    // min-height: 130px;
  }
}

.image {
  padding: 20px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;

}

.image:hover {
  transform: scale(1.2);
  transition: .8s ease-in-out;
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.AddToCartButton {
  font-size: 12px;
}

.discount {
  position: absolute;
  right: 10px;
 
  top: 2px;
  z-index: 50;
}

.discount span {
  padding: 3px 2px;
  font-size: 12px;
  color: rgb(143, 3, 179);
  background-color: rgb(201, 225, 250);
}
.itemsleft{
  font-size: 10px;
}
.mainProgress{
  width: 80%;
  height: 6px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  background-color: #081ddb;
}