@import '../../_css/common';

// this is to make up for the space taken by the fixed header, since the scroll method does not accept an offset parameter
.scrollRef {
  position: absolute;
  left: 0;
  top: calc(var(--base) * -5);
  @include mid-break {
    top: calc(var(--base) * -2);
  }
}

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.resultCountWrapper {
  display: flex;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.pageRange {
  margin-bottom: var(--base);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(17%, 1fr));
  gap: 20px;
  padding: 0;
  width: 100%;

  @include mid-break {
    gap: 10px;
    grid-template-columns: repeat(3, minmax(33%, 1fr));
  }

  @include small-break {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    gap: 5px;
  }
}

.pagination {
  margin-top: calc(var(--base) * 2);
  display: flex;
  justify-content: center;

  @include mid-break {
    margin-top: var(--base);
  }
}
