@use '../../../../../_css/common.scss' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  // Ensure it takes up available height for centering
}

.search {
  display: flex;
  width: 100%;
  position: relative;
  transition: box-shadow 300ms ease;
}

.searchTerm {
  flex: 1;  // Ensures input takes up available space
  padding: 10px;
  border: 1px solid rgb(144, 47, 201);
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 16px;
  transition: color 300ms ease;

  &:focus {
    color: rgb(144, 47, 201);
  }
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 3px solid rgb(144, 47, 201);
  background-color: var(--theme-elevation-1000);
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 300ms ease;

  &:hover {
    background-color: rgb(144, 47, 201);
  }
}

.searchicon {
  color: #fff;
  font-size: 20px;
}
