
  
  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-backdrop-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: var(--modal-bg);
    padding: var(--modal-padding);
    border-radius: var(--modal-border-radius);
    width: var(--modal-width);
    max-width: var(--modal-max-width);
    box-shadow: var(--modal-box-shadow);
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: var(--modal-close-btn-size);
    height: var(--modal-close-btn-size);
    background: transparent;
    border: none;
    color: var(--modal-close-btn-color);
    font-size: var(--modal-close-btn-size);
    cursor: pointer;
  }
  .header{
    color: var(--theme-elevation-1000)
  }