@import '~payload/scss';

.dashboard .before-dashboard {
	margin-bottom: base(1.5);

	&__banner {
		background-color: #952a96 !important;
		color: white !important;
		& h4 {
			margin: 0;
			text-align: center;
		}
	}

	&__instructions {
		list-style: decimal;
		margin-bottom: base(0.5);

		& li {
			width: 100%;
		}
	}

	& a:hover {
		opacity: 0.85;
	}
}
