@import '~payload/scss';
@import '../scss/App.scss';

.dashboard .before-dashboard {
	margin-bottom: base(1.5);

	&__banner {
		background-color: #952a96 !important;
		color: white !important;
		& h4 {
			margin: 0;
			text-align: center;
		}
	}

	&__instructions {
		list-style: decimal;
		margin-bottom: base(0.5);

		& li {
			width: 100%;
		}
	}

	& a:hover {
		opacity: 0.85;
	}
	
}
.before-dashboard {
	&__banner {
	  margin-bottom: 1rem;
	}
  
	&__toggle-button {
	  margin-bottom: 1rem;
	  padding: 0.5rem 1rem;
	  background-color: #212121;
	  color: white;
	  border: none;
	  border-radius: 0.25rem;
	  cursor: pointer;
	}
  
	&__dashboard {
	  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
	  &.hidden {
		opacity: 0;
		visibility: hidden;
	  }
	  &.visible {
		opacity: 1;
		visibility: visible;
	  }
	}
  }
  