.reviewItem {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  
  .stars {
    color: var(--theme-elevation-1000);
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  
  .reviewMeta {
    font-size: 14px;
    color: #888;
  }
  
  .verified {
    color: #4CAF50;
    margin-left: 10px;
  }