@import '../../_css/common.scss';

.contentMediaBlock {
    margin-bottom: 10px;
  
    .contentWrapper {
      display: flex;
      align-items: flex-start;

      gap: 2rem;
      @include small-break{
        flex-direction: column;
      }
  
      &.mediaRight {
        flex-direction: row;
        @include small-break{
          flex-direction: column;
        }
      }
  
      &.mediaLeft {
        flex-direction: row-reverse;
        @include small-break{
          flex-direction: column;
        }
      }
  
      .mediaContainer {
        flex: 0 0 50%;
        max-width: 50%;

  
        img {
          width: auto;
          height: auto;
          object-fit: cover;
          
        }
      }
  
      .richTextContainer {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  .image{
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    min-height: 300px;
    @include small-break{
      min-height: 250px;
    }
  }
 @include small-break {
    .contentMediaBlock {
      .contentWrapper {
        flex-direction: column;
  
        .mediaContainer,
        .richTextContainer {
          flex: 1 1 auto;
          max-width: 100%;
        }
      }
    }
  }