.container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.fabContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &.fabContainerExpanded {
    flex-direction: row;
    align-items: center;
  }

  > * {
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}