@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;
  @include small-break{
    align-items: center;
  }

  > * {
    text-decoration: none;
  }
}

.cartLink {
  position: relative;
}

.cartDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}

.cartLink:hover .cartDropdown {
  display: block;
}


.desktopNav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  flex-wrap: wrap;

  @media (max-width: 768px) {
    display: none;
  }
}
.desktopNav{
  @include small-break{
    display: none;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.mobileMenu {
  display: none;

  @include small-break {
    display: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    color: black;
    z-index: 4000;
    background-color: #fff;
    z-index: 100;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
.navItem {
  position: relative;
  display: inline-block;
  margin-right: 0px;
}
.dummyDataContainer {
  position: absolute;
  top: calc(100% + 0px); /* Adjust as needed */
  left: 50%; /* Position at the center */
  transform: translateX(-50%); /* Center horizontally */
  background-color:  rgba(0, 0, 0, 0.7);
  border: 1px solid #ccc;
  z-index: 100;
  
  border-radius: 4px;
  color: rgb(248, 248, 248);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  width: 280px;
  padding: 10px;
}
.navItemSmall{
  margin-top: 30px;
 
}
.mobileNavitem{
  margin-top: 10px;
  
}
.navItemContent{
  color:#de6c2a;
}
.dummyDataContainer::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust based on the size of the pointer */
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 8px 8px 8px; /* Adjust the size of the pointer */
  border-style: solid;
  border-color: transparent transparent #ccc transparent;
}
.MiniCategories{
  text-decoration: none;
  font-weight: 600;
}
.MiniCategoriesLinks li{
  list-style: none;
  text-decoration: none;
}
.MiniCategoriesLinks:hover{
  color: #df7e47ee;
  text-decoration: underline;
  transition: .2s ease;
}
.dummyDataContainer ul li{
  text-decoration: none;

}
.navItem:hover .dummyDataContainer {
  display: block;
  padding: 20px;
  padding-right: 10px;
  
}

.dummyDataContainer ul {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

.dummyDataContainer li {
  margin-bottom: 5px;
  text-decoration: none;

}
.navItemContent {
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0px 0px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
  }
}
.SidedropdownIcon {
  transition: transform 0.3s ease-in-out;
  font-size: 14px;
  color:#de6c2a;
  margin-left: 2px;
  
}

.rotated:hover{
  transform: rotate(150deg);
}
.dropdownIcon {
  font-size: 12px;
  color: rgb(226, 120, 13);
  margin-left: 2px;
}
.miniCategoriesList {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

.miniCategoryItem {
  position: relative;
}

.subCategoriesPanel {
  position: absolute;
  left: 100%;
  top: 0;
  background-color:  rgba(0, 0, 0, 0.7);
  border: 1px solid #ccc;
  border-left: none;
  z-index: 100;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 10px ;
  width: 200px;
}

.miniCategoryItem:hover .subCategoriesPanel {
  display: block;
}

.mobileNavItemContent{
  margin-top: 20px;
  padding: 10px 0 10px 5px;
  border: 1px solid black;
}