@import '../../../_css/common.scss';
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 200px;

  max-width: 200px;
  max-height: 250px;
  min-height: 250px;
  padding: 10px;
  @include small-break {
    max-height: 200px;
    min-height: 150px;
    max-width: 160px;
    min-width: 160px;
  }
}

.imageContainer {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  aspect-ratio: 1/1;
}

.cardBody {
  padding: 10px;
}

.title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.price {
  font-size: 14px;
  color: #888;
}

.link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #0070f3;
  text-decoration: none;
  // margin-top: 10px;

  &:hover {
    text-decoration: underline;
  }
}
