.feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  
    .question {
      margin-bottom: 20px;
  
      p {
        font-weight: bold;
      }
  
      label {
        display: block;
        margin-bottom: 10px;
      }
  
      textarea {
        width: 100%;
        height: 100px;
        resize: vertical;
      }
    }
  
    button {
      align-self: flex-end;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: var(--theme-elevation-1000);
      color: white;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  // .feedback-button {
  //   position: fixed;
  //   right: 10px;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   padding: 10px 20px;
  //   background-color: #007bff;
  //   color: white;
  //   border: none;
  //   border-radius: 5px;
  //   cursor: pointer;
  // }
  .feedback-button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 10px;
    background-color: var(--theme-elevation-1000);
    color: white;
    border: none;
    font-size: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  
  
  .feedback-popup {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
  }
  
  .popup-content {
    background-color: white;
    overflow-y: scroll;
    padding: 20px;
    max-height: 80vh;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .question {
    margin-bottom: 20px;
  
    p {
      font-weight: bold;
    }
  
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    textarea {
      width: 100%;
      height: 100px;
      resize: vertical;
    }
  }
  
 
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: rgb(88, 4, 114);
    }
  }
  .submitbtn{
    
    padding: 10px 10px;
    background-color:var(--theme-elevation-1000);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgb(88, 4, 114);
    }

  }
  