@use '../../../_css/queries.scss' as *;

.footer {
  padding: 0;
  background-color: rgb(20, 20, 20);
  color: var(--theme-elevation-0);

  @include small-break {
    padding: calc(var(--base) * 2) 0;
  }
}


.inclusions {
  display: grid;
  justify-content: center;
  
  gap: 40px;
  border-radius: 30px;
  padding: 50px;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 50px;
  background-color: var(--theme-elevation-1000);
  color: white;
  @include small-break {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mid-break {
    margin: 60px 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @include extra-small-break {
    grid-template-columns: repeat(2, 1fr);
    margin: 60px 0;
  }
}

.icon {
  margin-bottom: 16px;
}


:global([data-theme='dark']) {
  .footer {
    background-color: var(--theme-elevation-50);
    color: var(--theme-elevation-1000);
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);

  @include small-break {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.title{
  color: white;
}

// .logo {
//   width: 170px;
// }

.hr {
  border-color: var(--color-white-500-20);
}


.socialLinks {
  display: flex;
  padding: 0px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  // border: 1px solid black;
  width: 100%;
  transition: .5s ease-in;
}
.socialLinks :hover{
  scale: 1.1;

}
.logoImg{
  width: 100%;
  height: 100%;
}
.socialLinkItem {
  width: 70%;
  width: 100px; 
  // border: 1px solid black;

}

.socialIcon {
  width: 20px;
  // border: 1px solid black;
  height: 20px;
  // @include small-break {
  //   width: 40px;
  //   height: 40px;
  // }
 
}

.hide {
  display: none;
}
.footerlist{
  list-style: none;
}
.footerLogo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footercategories{
  position: relative;
}
.footerLabel{
  color: orangered;
}
.footerWrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items:flex-start;
  @include small-break {
    
    display: grid;
    justify-content: center;
   
    grid-template-columns: repeat(2, 1fr);
  }
}

.copyright{
  margin-bottom: 0;
  margin-top: 30px;
}